$box1_color: red;
$box2_color: blue;
$box3_color: green;
$box4_color: purple;
$primary_size: 50px;
$bg_color: gray;
$border_radius: 8px;
$primary_margin: 20px;
$border: 2px solid black;

nav {
    text-align: center;
    height: $primary_size;
    background-color: orange;
    position: fixed;
    width: 100%;
}
footer{
    text-align: center;
    height: $primary_size;
    background-color: $box1_color;
}
.main{
    background-color: $bg_color;
    display: flex;
    height: $primary_size*12;
    justify-content: center;
    align-items: center;
}

.box1 {
    width: $primary_size*2;
    height: $primary_size*2;
    background-color: $box1_color;
    border-radius: $border_radius;
    margin: $primary_margin;
    border: $border;
}
.box2 {
    width: $primary_size*4;
    height: $primary_size*4;
    background-color: $box2_color;
    border-radius: $border_radius;
    margin: $primary_margin;
    border: $border;
}
.box3 {
    width: $primary_size*5;
    height: $primary_size*5;
    background-color: $box3_color;
    border-radius: $border_radius;
    margin: $primary_margin;
    border: $border;
}
.box4 {
    width: $primary_size;
    height: $primary_size;
    background-color: $box4_color;
    border-radius: $border_radius;
    margin: $primary_margin;
    border: $border;
}